@import url('https://fonts.googleapis.com/css2?family=Mirza&family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400&family=Roboto:wght@300;400&display=swap');

:root {
    --ff-mirza: 'Mirza', cursive;
    --ff-playfair: 'Playfair Display', serif;
    --ff-roboto: 'Roboto', sans-serif;

}

.map_container {
    width: 97vmax;
    height: 50vmax;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.map_container::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(/src/assets/Map/map.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.map_container .locations .rohan {
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 80px;
    right: 41.5%;
    bottom: 40%;
    transform: rotate(-10deg);
    transition: all 0.5s;
}

.map_container .locations .rohan:hover {
    overflow: hidden;
    cursor: pointer;
    height: 490px;
    width: 300px;
    transform: rotate(0deg);
    right: 35.5%;
    bottom: 35%;
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);
}

.map_container .locations .gondor {
    cursor: pointer;
    position: absolute;
    /* background-color: red; */
    width: 300px;
    height: 70px;
    left: 42%;
    bottom: 23%;
    transform: translate(-50%, 50%);
    transform: rotate(18deg);
    transition: all 0.5s;
}

.map_container .locations .gondor:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 350px;
    width: 300px;
    /* background-color: transparent; */
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);
}

.map_container .locations .mordor {
    cursor: pointer;
    position: absolute;
    /* background-color: purple; */
    width: 250px;
    height: 70px;
    right: 15%;
    bottom: 25%;
    transform: translate(-50%, 50%);
    transform: rotate(-18deg);
    transition: all 0.5s;
}

.map_container .locations .mordor:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 430px;
    width: 300px;
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);

}

.map_container .locations .shire {
    cursor: pointer;
    position: absolute;
    /* background-color: green; */
    width: 130px;
    height: 70px;
    left: 25%;
    top: 25%;
    transform: translate(-50%, 50%);
    transform: rotate(55deg);
    transition: all 0.5s;
}

.map_container .locations .shire:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 390px;
    width: 300px;
    /* background-color: transparent; */
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);
}

.map_container .locations .lorien {
    cursor: pointer;
    position: absolute;

    /* background-color: blue; */
    width: 130px;
    height: 50px;
    right: 44%;
    top: 39%;
    transform: translate(-50%, 50%);
    transform: rotate(10deg);
    transition: all 0.5s;
}

.map_container .locations .lorien:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 480px;
    width: 300px;
    right: 35%;
    top: 20%;
    /* background-color: transparent; */
    background: rgba(192, 158, 113, 0.56);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    /* border: 1px solid rgba(192, 158, 113, 0.45); */
}

.map_container .locations .mirkwood {
    cursor: pointer;
    position: absolute;
    /* background-color: yellow; */
    width: 140px;
    height: 60px;
    right: 29%;
    top: 25%;
    transform: translate(-50%, 50%);
    transform: rotate(90deg);
    transition: all 0.5s;
}

.map_container .locations .mirkwood:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 450px;
    width: 300px;
    /* background-color: transparent; */
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);
}

.map_container .locations .ironhills {
    cursor: pointer;
    position: absolute;
    /* background-color: aqua; */
    width: 150px;
    height: 55px;
    right: 18%;
    top: 12%;
    transform: translate(-50%, 50%);
    transform: rotate(0deg);
    transition: all 0.5s;
}

.map_container .locations .ironhills:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 370px;
    width: 300px;
    /* background-color: transparent; */
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);
}

.map_container .locations .isengard {
    cursor: pointer;
    position: absolute;
    /* background-color: black; */
    width: 100px;
    height: 40px;
    left: 40%;
    bottom: 44%;
    transform: translate(-50%, 50%);
    transform: rotate(-15deg);
    transition: all 0.5s;
}

.map_container .locations .isengard:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 450px;
    width: 300px;
    /* background-color: transparent; */
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);
    left: 40%;
    bottom: 40%;
}

.map_container .locations .minastirith {
    cursor: pointer;
    position: absolute;
    /* background-color: black; */
    width: 50px;
    height: 40px;
    right: 36%;
    bottom: 29%;
    transform: translate(-50%, 50%);
    transform: rotate(-10deg);
    transition: all 0.5s;
}

.map_container .locations .minastirith:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 350px;
    width: 300px;
    /* background-color: transparent; */
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);
}

.map_container .locations .rivendell {
    cursor: pointer;
    position: absolute;
    /* background-color: fuchsia; */
    width: 130px;
    height: 74px;
    left: 50%;
    top: 17%;
    transform: translate(-50%, 50%);
    transition: all 0.5s;

}

.map_container .locations .rivendell:hover {
    overflow: hidden;
    transform: rotate(0deg);
    cursor: pointer;
    height: 400px;
    width: 300px;
    left: 45%;
    top: 17%;
    /* background-color: transparent; */
    background: rgba(192, 158, 113, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    border: 1px solid rgba(192, 158, 113, 0.45);
}


.gondor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.gondor h4 {
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.gondor p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.gondor img {
    width: 100px;
    height: 150px;
}

.ironhills h4 {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.ironhills p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.ironhills img {
    width: 100%;
    height: 150px;
}

.lorien h4 {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.lorien p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.lorien img {
    width: 100%;
    height: 150px;
}

.mirkwood h4 {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.mirkwood p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.mirkwood img {
    width: 100%;
    height: 150px;
}

.isengard h4 {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.isengard p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.isengard img {
    width: 100%;
    height: 150px;
}

.shire h4 {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.shire p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.shire img {
    width: 100%;
    height: 150px;
}

.mordor h4 {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.mordor p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.mordor img {
    width: 100%;
    height: 150px;
}

.rohan h4 {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.rohan p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.rohan img {
    width: 100%;
    height: 200px;
}

.rivendell h4 {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 30px;
    font-weight: 400;
}

.rivendell p {
    font-size: 15px;
    text-align: center;
    font-family: var(--ff-roboto);
}

.rivendell img {
    width: 100%;
    height: 150px;
}